{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="threads">THREADS</h2>

    <div id="posts-area" class="posts-area">
        {% for post in posts %}
            <hr>
            <div class="post-card mx-auto">
              <div class="post-left">
                <div class="post-avatar">
                  <span>{{ post.author.username|slice:":1"|upper }}</span>
                </div>
              </div>
            <div class="post-right">
              <h5><a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></h5>
              <p>{{ post.content }}</p>
              <small>Posted on {{ post.timestamp }}</small>
              <br><br>
              <div class="post-actions">
                <button class="btn btn-outline-primary">Like: {{ post.likes }}</button>
                <button class="btn btn-outline-primary">Comment: 0</button>
                <button class="btn btn-outline-primary">Share: 0</button>
                {% if request.user == post.author %}
                    <button
                    type="button"                         
                    class="btn btn-outline-primary ms-auto edit-btn"
                    data-post-id="{{ post.id }}"
                    id="edit-btn-{{ post.id }}"
                    
                    > Edit </button>
                {% endif %}
              </div>
              
            </div>
          </div>
        {% empty %}
          <p>No posts available.</p>
        {% endfor %}
    </div>
{% endblock %}