{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="profile-head">
        <div class="profile-row">
        <div class="profile-left">
            <div class="avatar"><span>{{ profile_user.username|slice:":1"|upper }}</span></div>
        </div>
        <div class="profile-right">
            <div class="profile-username">{{ profile_user.username }}</div>
    
            <div class="profile-actions">
            {% if request.user.is_authenticated %}
                {% if is_following %}
                <form action="{% url 'unfollow' profile_user.username %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger">Unfollow</button>
                </form>
                {% else %}
                    {% if request.user.username != profile_user.username %}
                        <form action="{% url 'follow' profile_user.username %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary">Follow</button>
                        </form>
                    {% endif %}
                {% endif %}
                <!--Not working button, just for beauty -->
                <form > 
                    {% csrf_token %}
                    <button class="btn btn-outline-primary">Send a Message</button>
                </form>
            {% endif %}
            </div>
    
            <div class="profile-stats">
                <span class="stat"><strong>4</strong> posts</span>
                <span class="stat"><strong>{{ profile_user.followers.count }}</strong> followers</span>
                <span class="stat"><strong>{{ profile_user.following.count }}</strong> following</span>
            </div>
        </div>
        </div>
        <div class="profile-divider"></div>
    </div>

    <div id="posts-area" class="posts-area">
      {% for post in posts %}
          <hr>
          <div class="post-card mx-auto">
            <div class="post-left">
              <div class="post-avatar">
                <span>{{ post.author.username|slice:":1"|upper }}</span>
              </div>
            </div>
          <div class="post-right">
            <h5><a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></h5>
            <p>{{ post.content }}</p>
            <small>Posted on {{ post.timestamp }}</small>
            <br><br>
            <div class="post-actions">
              <button class="btn btn-outline-primary">Like: {{ post.likes }}</button>
              <button class="btn btn-outline-primary">Comment: 0</button>
              <button class="btn btn-outline-primary">Share: 0</button>
              {% if request.user == post.author %}
                  <button
                  type="button"                         
                  class="btn btn-outline-primary ms-auto edit-btn"
                  data-post-id="{{ post.id }}"
                  id="edit-btn-{{ post.id }}"
                  
                  > Edit </button>
              {% endif %}
            </div>
            
          </div>
        </div>
      {% empty %}
        <p>No posts available.</p>
      {% endfor %}
  </div>

    <nav aria-label="Posts pagination">
        <ul class="pagination justify-content-center mt-3">
      
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="btn btn-outline-primary mx-1 " href="?page={{ page_obj.previous_page_number }}">
                Previous
              </a>
            </li>
          {% else %}
            <li class="page-item">
              <span class="btn btn-outline-primary text-dark mx-1 disabled">
                Previous
              </span>
            </li>
          {% endif %}
      
          <li class="page-item disabled">
            <span class="btn btn-light border-primary text-primary mx-1">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          </li>
      
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="btn btn-outline-primary mx-1" href="?page={{ page_obj.next_page_number }}">
                Next
              </a>
            </li>
          {% else %}
            <li class="page-item">
              <span class="btn btn-outline-primary text-dark mx-1 disabled">
                Next
              </span>
            </li>
          {% endif %}
      
        </ul>
      </nav>
{% endblock %}